.App,
.container {
  max-width: 750px;
  margin: 0 auto;
}

.App footer {
  text-align: center;
  font-size: 11px;
  line-height: 25px;
  font-family: "Courier New", Courier, monospace;
}

.App a {
  text-decoration: none;
  color: #6bc5b7;
}
