.Weather {
  font-family: "Courier New", Courier, monospace;
}

.Weather a {
  text-decoration: none;
  color: #6bc5b7;
}

.Weather .current-city {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #d9d7d7;
  font-family: "Courier New", Courier, monospace;
  margin-top: 10px;
}

.Weather p {
  text-align: center;
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.Weather span {
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: -30px;
}

.Weather .temp {
  color: #d9d7d7;
}

.Weather ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Weather ul,
li {
  font-size: 14px;
  font-family: "PT Mono", monospace;
  font-weight: 400;
  color: #0c0c0c;
  opacity: 0.7;
  margin-top: 0;
}

.Weather .weather-details {
  font-size: 12px;
  position: relative;
  bottom: 10px;
  left: 200px;
  font-family: "PT Mono", monospace;
  margin-top: 0;
}

.Weather .container {
  background: linear-gradient(
    110deg,
    rgb(147, 133, 186) 11.2%,
    rgb(242, 198, 214) 91.1%
  );
  border: 1px solid #ced4da;
  max-width: 600px;
  margin: 60px auto 0 auto;
  padding: 20px;
}

.Weather .weather-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Weather .weather-wrapper,
.weather-icon {
  display: flex;
  flex-direction: row;
}

.Weather .weather-wrapper,
.weather-icon img {
  width: 100px;
  height: 120px;
}

.Weather .weather-icon,
.temp {
  padding-top: 20px;
}

.Weather .weather-wrapper,
.temp strong {
  font-size: 60px;
  line-height: 50px;
  font-weight: 400;
  margin-left: 10px;
}
